<div class="flex h-screen bg-gray-100">
  <!-- Sidebar -->
  <app-sidebar class="w-64 "></app-sidebar>

  <!-- Main content -->
  <div class="flex flex-col flex-1">
    <!-- Navbar -->
    <app-navbar></app-navbar>

    <!-- Table Container -->
    <div class="p-6 px-12">
        <div class="table-container">
          <h2>Collections Requests</h2>
          <table>
            <thead>
            <tr>
              <th>Date</th>
              <th>Type</th>
              <th>Weight</th>
              <th>Points</th>
              <th>Status</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>2024-02-06</td>
              <td>Plastic</td>
              <td>2.5 kg</td>
              <td>5</td>
              <td><span class="status completed">Completed</span></td>
            </tr>
            </tbody>
          </table>
        </div>
    </div>
  </div>
</div>
