<div class="header bg-white shadow-md p-4 flex justify-between items-center mb-8 border-b-2 border-gray-200">
  <div *ngIf="isCollecteur()">
    <p class="text-lg font-medium text-gray-600">Bienvenue collecteur !</p>
  </div>

  <div *ngIf="isParticulier()">
    <p class="text-lg font-medium text-gray-600">Bienvenue particulier !</p>
  </div>

  <div class="flex items-center space-x-4">
    <img src="https://i.pravatar.cc/150?img=2" alt="User Avatar" class="w-12 h-12 rounded-full border-2 border-gray-300 shadow-md">
    <span class="text-md font-semibold text-gray-700">{{ user.firstName }} {{ user.lastName }}</span>
  </div>
</div>
